$themeColor: #409EFF;//主题色
$fontColor: rgba(0,0,0,.65);//全局字体颜色
$titleFontColor: rgba(0,0,0,.85);//标题颜色
$fontSize: 14px;//全局字体大小
$aidFontColor: #666;//辅助字体颜色
$borderColor: #dfe6ec;//边框颜色
$headerBg: #fff;//头部背景色
$sideNavBg: #001529;//侧边栏背景色
$mainBg: #fff;//主体背景色
$footerBg: #eee;//尾部背景色
$tableBg: #fafafa;//table 背景色

