@import "variables";
@import "mixin";
@import "icon";

/*reset*/
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: $fontSize;
  color: $fontColor;
  line-height: 1.5;
  outline: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
p,
button {
  margin: 0;
  padding: 0
}

ul,
li {
  list-style: none;
}

em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: $fontColor;
}

h2, h4 {
  font-weight: normal;
}

/*common*/
[v-cloak]{
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.w100p{
  width: 100%;
}

.w40p{
  width: 40%;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.f12 {
  font-size: 12px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pl10{
  padding-left: 10px;
}

.pb10{
  padding-bottom: 10px;
}

.pb20{
  padding-bottom: 20px;
}

.pb30{
  padding-bottom: 30px;
}

.ptb10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb15{
  padding-top: 15px;
  padding-bottom: 15px;
}

.pad10{
  padding: 10px;
}

.pr10{
  padding-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
   margin-bottom: 20px;
 }

.mr5{
  margin-right: 5px;
}

.t-c{
  text-align: center;
}

.cursor{
  cursor: pointer;
}

.container {
  padding: 10px 15px;
  margin-right: auto;
  margin-left: auto;
}

.line{
  width: 100%;
  height: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px dashed $borderColor;
}

.red{
  color: #ff0000;
}

.blue{
  color: #1E9FFF;
}

.bold{
  font-weight: bold;
}

/*header*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $headerBg;
  z-index: 999;

  .logo {
    color: #fff;
    float: left;
    line-height: 60px;
    font-size: 20px;
    padding: 0 25px;
    text-align: center;
    width: 150px;
  }

  .avatar{
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
  }

  .hide-menu{
    float: left;
    width: 20px;
    height: 20px;
    margin: 15px 15px 0 0;
    font-size: 17px;
    text-align: center;
    padding: 5px 5px;
    color: #fff;
    background-color: $themeColor;
  }

  /*顶部导航 样式覆盖*/
  .el-menu {
    background-color: $headerBg;
    float: right;
    >.el-menu-item{
      >a{
        display: inline-block;
      }
      a,
       .iconfont{
        color: #fff;
      }
      &:hover{
        color: $themeColor;
        background-color: transparent;
        border-bottom: 5px solid transparent;
      }
      &.is-active{
        a,
        .iconfont{
          color: $themeColor;
        }
      }
    }
    .el-submenu {
      float: right;
      .el-submenu__title {
        color: #c2c2c2;
      }
      >.el-menu{
        top: 60px;
      }
      &:hover,
      &.is-active{
        .el-submenu__title {
          background-color: $headerBg;
          border-bottom: 5px solid transparent;
        }
      }
      .el-menu-item{
        a{
          display: inline-block;
          color: inherit;
          width: 150px;
        }
        .iconfont{
          color: inherit;
        }
        &:hover{
          background-color: $themeColor;
          color: #fff;
        }
        &.is-active{
          color: $themeColor;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
}

.side-nav,
.main,
footer{
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*nav*/
.side-nav {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 200px;
  background-color: $sideNavBg;
  z-index: 999;
  overflow-y: auto;
  &.hide{
    left: -200px;
    & ~ .main,
    & ~ footer{
      left: 0;
    }
  }
  .user-photo{
    width: 200px;
    height: 120px;
    padding-top: 15px;
    padding-bottom: 5px;
    .img{
      display: block;
      width: 76px;
      height: 76px;
      margin: 0 auto;
      margin-bottom: 15px;
      img{
        display: block;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border: 4px solid #44576b;
      }
    }
    p{
      width: 100%;
      height: 25px;
      color: #ffffff;
      text-align: center;
      font-size: 12px;
      white-space: nowrap;
      line-height: 25px;
      overflow: hidden;
    }
  }

  /*侧边导航 样式覆盖*/
  .el-menu{
    background-color: $sideNavBg;
    .el-menu-item,
    .el-submenu__title {
      height: 45px;
      line-height: 45px;
      color: #c2c2c2;
      border-left: 5px solid transparent;
      a{
        color: #c2c2c2;
        display: inline-block;
        width: 140px;
      }
    }
    >.el-menu-item {
      &:hover {
        color: #fff;
        background-color: lighten($sideNavBg, 10%);
        border-left: 5px solid $themeColor;
        a{
          color: #fff;
        }
      }
    }
    .el-submenu {
      background-color: $sideNavBg;
      .el-submenu__title{
        &:hover {
          color: #fff;
          background-color: lighten($sideNavBg, 10%);
          border-left: 5px solid $themeColor;
          a{
            color: #fff;
          }
        }
      }
      .el-menu-item{
        background-color: $sideNavBg;
        &:hover{
          background-color: lighten($sideNavBg,20%);
        }
        &.is-active{
          color: #fff;
          background-color: $themeColor;
          &:hover{
            color: #fff;
            background-color: $themeColor;
          }
        }
      }
    }
  }
  .el-menu-item{
    &.is-active{
      color: #fff;
      background-color: $themeColor;
      a{
        color: #fff;
      }
      &:hover{
        color: #fff;
        background-color: $themeColor;
      }
    }
  }
}

/*main*/
.main {
  position: absolute;
  top: 60px;
  left: 200px;
  right: 0;
  bottom: 44px;
  padding: 15px;
  overflow-y: auto;
  border-top: 5px solid $themeColor;
  border-left: 2px solid $themeColor;
  box-sizing: border-box;
  //z-index: 999;
  background-color: $mainBg;
}

/*footer*/
footer{
  position: fixed;
  left: 200px;
  right: 0;
  bottom: 0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-color: $footerBg;
  border-left: 2px solid $themeColor;
  z-index: 999;
}

/*响应式*/
@media screen and (max-width: 420px){
  header{
    .logo{
      font-size: 18px;
      padding: 0;
    }
    .el-menu{
      display: none;
    }
  }
  .side-nav{
    left: -260px;
    z-index: 1000;
    &.hide{
      left: 0;
    }
  }
  .main{
    left: 0;
  }
  footer{
    left: 0;
  }
  .container{
    width: auto;
  }
  //表单label 手动转为top对齐方式
  .el-form--inline {
    .el-form-item__label{
      text-align: left;
      padding: 0 0 10px;
    }
    .el-form-item__content{
      display: block!important;
    }
  }
}

/*上传头像或者但张图*/
.avatar-uploader{
  .el-upload{
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover{
      border-color: #20a0ff;
    }
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
}

.elem-quote {
  margin: 0;
  margin-bottom: 10px;
  padding: 12px 15px;
  line-height: 22px;
  border-left: 5px solid #009688;
  border-radius: 0 2px 2px 0;
  background-color: #f2f2f2;
}