$themeColor: #1AA094;//主题色
$fontColor: #333;//全局字体颜色
$fontSize: 14px;//全局字体大小
$aidFontColor: #666;//辅助字体颜色
$borderColor: #dfe6ec;//边框颜色
$headerBg: #23262E;//头部背景色
$sideNavBg: #393D49;//侧边栏背景色
$mainBg: #fff;//主体背景色
$footerBg: #eee;//尾部背景色
$tableBg: #f2f2f2;//table 背景色

